$primary-color: #4056A1;
$secondary-color: #545149;
$nav-font-color: #FFFFFF;
$header-color: goldenrod;
$tweet-background-color: #f4f1ec;

@media only screen and (max-width: 1024px) {
  .header {
    width: 100%;
    margin-bottom: 10px;
    img {
      height: 192px;
      width: 192px;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  .header {
    width: 35%;
    margin: 0 3.75%;
  }
}

@media only screen and (min-width: 1920px) {
  .header {
    width: 672px;
    margin: 0 3.75%;
  }
}

.header {
  height: 400px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $header-color;
  background-image: url('../images/blizzard.png');
  div {
    color: whitesmoke;
  }
}