$primary-color: #4056A1;
$secondary-color: #545149;
$nav-font-color: #FFFFFF;
$header-color: goldenrod;
$tweet-background-color: #f4f1ec;

html {
  box-sizing: border-box;
  body {
    color: $secondary-color;
    background-color: $tweet-background-color;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    align-items: flex-start;
    main {
      width: 90%;
      margin: 0 3.75%;
    }
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}

.flex {
  display: flex;
}

@media only screen and (max-width: 1024px) {
  body {
    padding-bottom: 200px;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    padding: 200px 0;
  }
}