/**
 * Nav-bar and compose tweet buttons
 * 
 * Creator: Jordan Cronier
 *
 */

 $primary-color: #172452;
 $secondary-color: #545149;
 $nav-font-color: #FFFFFF;
 $header-color: rgb(53, 129, 173);
 $tweet-background-color: #e4d7c2;

nav {
  height: 100px;
  width: 100%;
  color: $nav-font-color;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  position: fixed;
  top: 0;
  span {
    font-family: 'Bungee';
    font-size: 1em;
  }
  #compose {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: transparent;
    border: none;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 7em;
    padding: 0;
    div {
      color: $nav-font-color;
      justify-content: flex-end;
      font-size: 0.8em;
    }
    .angle-brackets {
      color: red;
    }
  }
}

#compose:hover .angle-brackets {
  animation: bounce 1.5s infinite;
}

// Tablet screen size and below
@media only screen and (max-width: 1024px) {
  nav {
    background-color: transparent;
  }
}

// Regular desktop screen size
@media only screen and (min-width: 1024px) {
  nav {
    background-color: $primary-color;
    background-image: url("../images/blizzard.png");
  }
}

// Animate angle brackets in compose button
@keyframes bounce {
  20%, 50%, 80%, to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(20px);
  }
  70% {
    transform: translateY(20px);
  }
  90% {
    transform: translateY(20px);
  }
}