/**
 * Compose new tweet form
 * 
 * Creator: Jordan Cronier
 *
 */

 $primary-color: #172452;
 $secondary-color: #545149;
 $nav-font-color: #FFFFFF;
 $header-color: rgb(53, 129, 173);
 $tweet-background-color: #e4d7c2;

// Character limits error
#error {
  border: solid red;
  color: red;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

#tweet-form {
  height: 150px;
  flex-direction: column;
  .tweet-text {
    background-color: $tweet-background-color;
    border: none;
    width: 100%;
    height: 3em;
    border-bottom: solid grey;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
    resize: none;
  }
  footer { 
    justify-content: space-between; 
    .tweet-button {
      font-family: 'Bungee';
      color: $nav-font-color;
      background-color: $primary-color;
    }

    .counter {
      font-family: 'Bungee';
    }
    .counter.negative {
      color: red;
    }
  }
}