/**
 * Display tweets fetched from server
 * 
 * Creator: Jordan Cronier
 *
 */

 $primary-color: #172452;
 $secondary-color: #545149;
 $nav-font-color: #FFFFFF;
 $header-color: rgb(53, 129, 173);
 $tweet-background-color: #e4d7c2;

.tweet {
  border: solid;
  flex-direction: column;
  height: 250px;
  padding: 10px;
  margin-bottom: 20px;
  header {
    justify-content: space-between;
    align-items: center;
    .handle {
      color: rgb(113, 141, 150);
      font-weight: 600;
    }
    .user {
      align-items:center;
      justify-content: space-around;
      span {
        margin-left: 1em;
      }
    }
  }
  .tweet-content {
    font-weight: 600;
    padding: 10px;
    flex: 2;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    // Breaks long words up
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  footer {
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    border-top: solid;
    font-size: 0.6em;
    padding: 5px 10px 0 10px;
    .icons {
      width: 60px;
      align-items: center;
      justify-content: space-between;
      padding-top: 5px;
      :hover {
        color: $header-color;
        cursor: pointer;
      }
    }
  }
}

.tweet:hover {
  box-shadow: 5px 5px lightslategray;
}

/* Mobile screen size and below */
@media only screen and (min-width: 320px) and (max-width: 420px) {
  .tweet-content {
    font-size: 18px;
  }
}

/* Tablet screen size and below */
@media only screen and (max-width: 1024px) {
  .tweet-content {
    font-size: 18px;
  }
}