/**
 * Header with user information
 * 
 * Creator: Jordan Cronier
 *
 */
.header {
  height: 400px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3581ad;
  background-image: url("../images/blizzard.png");
}
.header div {
  color: whitesmoke;
}

/* Tablet screen size and below */
@media only screen and (max-width: 1024px) {
  .header {
    width: 100%;
    margin-bottom: 10px;
  }
  .header img {
    height: 192px;
    width: 192px;
  }
}
/* Regular desktop screen size */
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  .header {
    width: 35%;
    margin: 0 3.75%;
  }
}
/* Max desktop screen size changes */
@media only screen and (min-width: 1920px) {
  .header {
    width: 400px;
    max-width: 400px;
    margin: 0 3.75%;
  }
}
