.header {
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  background-color: goldenrod;
  background-image: url('../images/blizzard.png');
}

.avatar {
  justify-content: center;
}

.name {
  justify-content: center;
}