.error {
  border: solid red;
  color: red;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

#tweet-form {
  height: 150px;
  flex-direction: column;
}
#tweet-form .tweet-text {
  background-color: #f4f1ec;
  border: none;
  width: 100%;
  height: 3em;
  border-bottom: solid grey;
  font-family: "Source Sans Pro", sans-serif;
  outline: none;
  resize: none;
}
#tweet-form footer {
  justify-content: space-between;
}
#tweet-form footer .tweet-button {
  font-family: "Bungee";
  color: #FFFFFF;
  background-color: #4056A1;
}
#tweet-form footer .counter {
  font-family: "Bungee";
}
#tweet-form footer .counter.negative {
  color: red;
}
