.tweet {
  border: solid;
  flex-direction: column;
  height: 250px;
  padding: 10px;
  margin-bottom: 20px;
}
.tweet header {
  justify-content: space-between;
  align-items: center;
}
.tweet header .handle {
  color: lightgrey;
  font-weight: 600;
}
.tweet header .user {
  align-items: center;
  justify-content: space-around;
}
.tweet header .user span {
  margin-left: 1em;
}
.tweet section {
  font-weight: 600;
  padding: 10px;
  flex: 2;
}
.tweet footer {
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  border-top: solid;
  font-size: 0.6em;
  padding: 5px 10px 0 10px;
}
.tweet footer .icons {
  width: 60px;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}
.tweet footer .icons :hover {
  color: goldenrod;
  cursor: pointer;
}

/* FIXME: none-wrapping long words*/
.tweet:hover {
  box-shadow: 5px 5px lightslategray;
}
